header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

header .nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

header .nav li {
    margin: 15px;
}

header .nav li a {
    color: rgb(10, 1, 1);
    text-decoration: none;
}